# Python cache    
*.pyc

# Proyect .exe converter
Main.spec
build/
dict/

# Proyect saves folder and some other folders that are currently in no use
saves/chunks
Sounds/

# Proyect's virtual enviroment
v_env/